#div1{
    height: 300px;
    /*background: #ff0000;*/
}


@media screen and (orientation:landscape){
    #div1{
        background: #000000;
    }
}
@media screen and (orientation:portrait){
    #div1{
        background: #0000ff;
    }
}
/*

@media screen and (max-width: 980px) {
    #div1{
        background: #00ff00;
    }
}

@media screen and (max-width: 767px){
    
    #div1{
        background: pink;
    }

}*/
